body {
    background-color: var(--primary-color);
}

hr {
    border-color: var(--secondary-color-strong);
}

button {
    width: 100%;
    background-color: transparent;
    cursor: pointer;

    border: 1px solid var(--secondary-color);
    color: var(--secondary-color-muted);
}

button:disabled {
    border: 1px solid var(--secondary-color-strong);
    color: var(--secondary-color-strong);
}
