:root {
    /* Background colours */
    --primary-color: #353C3D;
    --primary-color-muted: #4E5556;
    --primary-color-strong: #1c2526;

    /* Font and icon colours */
    --secondary-color: #A7A7AD;
    --secondary-color-muted: #DEDEDE;
    --secondary-color-strong: #626C6D;

    --warning-color: #C3BE2A;
    --error-color: #E66666;

    --splash-color: #F0F2F3;
}

